@import '../styles/Temines-spalvos/Spalvos.scss';
@import '../styles/Header/Header.scss';
@import '../styles/About/About.scss';
@import '../styles/Projektai/Projektai.scss';
@import '../styles/Footer/Footer.scss';
@import '../slick/slick.scss';
@import '../styles/Nariai/Nariai.scss';

h1{
    font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: $spalva-4;
}

h2{
    font-family: 'Segoe UI', Verdana, Nunito sans, 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 1.1em;
    color: $spalva-4;
}

p{
    color: $spalva-5;
}

html, body{
    min-height: 100%;
}

body{
    font-family: Segoe UI;
    margin: 0;
    background-color: $spalva-1;
}

.landing-img{
    padding-top: 2.5em;
    height: 95vh;
    //background-image: url('../images/Pagrindinis-img-backround.png');
    background-color: $spalva-4;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    img{
        display: block;
        margin: auto;
        width: 100%;
    }
}
.pad{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}