.header {
  position: fixed;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3em;
  z-index: 1000;
}

.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a .logo {
  height: 2.5em;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.header .nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  height: 100%;
  padding-right: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-bar .nav-links li {
  padding: 0 15px;
}

.header .nav-bar .nav-links li .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Segoe UI;
  color: #354f52;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
}

/* Active klase uzdesim ant to linko, kuriame busim per kita koda */
.active {
  border-bottom: solid 2px #1b2a41;
}

@media only screen and (min-width: 768px) {
  .nav-links {
    padding-right: 10px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 935px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .tekstas {
  width: 85vw;
  max-width: 935px;
}

.container .about-img {
  width: 85vw;
  max-width: 935px;
}

.container .about-img img {
  width: 85vw;
  max-width: 935px;
  -webkit-box-shadow: 0 10px 10px 0px rgba(55, 48, 48, 0.09);
          box-shadow: 0 10px 10px 0px rgba(55, 48, 48, 0.09);
}

/*
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
    .tekstas{
        width: $container-widht-pc/2;
        //float: left;
        box-sizing: border-box;
        padding-right: 10px;
    }
    .about-img{
        width: $container-widht-pc/2;
        //float: right;
        box-sizing: border-box;
        img{
            width: $container-widht-pc/2;
        }
    }
}*/
@media only screen and (min-width: 1050px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 1160px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .tekstas {
    width: 50%;
    max-width: 500px;
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 10px;
  }
  .container .about-img {
    width: 50%;
    float: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 500px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .about-img img {
    width: 580px;
    vertical-align: middle;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.container-2 {
  width: 100%;
  max-width: 1250px;
  z-index: -1;
}

.container-2 h1 {
  text-align: center;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding: 0 30px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
          box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
  border-radius: 20px;
  width: 16em;
}

.card div {
  overflow: hidden;
  max-height: 9em;
}

.card h2 {
  margin: 10px 20px;
}

.card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.card p {
  padding: 0 20px 15px 20px;
  margin: 0px;
  color: #2f3e46;
}

/*@media only screen and (min-width: 560px){
    .content{
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}
*/
.footer-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: flex-start;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 0px;
  grid-column-gap: 35px;
  min-width: 18em;
}

.footer-links h3 {
  font-weight: 400;
  color: #cad2c5;
}

.footer-links ul {
  list-style: none;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #cad2c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links ul li a img {
  height: 1.5em;
  padding-right: 6px;
}

.footer {
  background-color: #354f52;
  padding: 0 1em;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.container-3 {
  width: 90%;
  margin: 0 auto;
}

.container-3 h1 {
  text-align: center;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Nariai-card {
  width: 100%;
}

.Nariai-card div {
  margin: 0 auto;
  width: 30vw;
  height: 30vw;
  max-width: 15em;
  max-height: 15em;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
          box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
}

.Nariai-card div img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.Nariai-card h2 {
  text-align: center;
}

.Nariai-card p {
  text-align: center;
}

.priv_arrow, .next_arrow {
  position: absolute;
  top: 37%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.priv_arrow {
  left: -35px;
}

.next_arrow {
  right: -35px;
}

.slick-slide {
  outline: none;
}

h1 {
  font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  color: #354f52;
}

h2 {
  font-family: 'Segoe UI', Verdana, Nunito sans, 'Segoe UI', Tahoma, Geneva, sans-serif;
  font-size: 1.1em;
  color: #354f52;
}

p {
  color: #2f3e46;
}

html, body {
  min-height: 100%;
}

body {
  font-family: Segoe UI;
  margin: 0;
  background-color: #cad2c5;
}

.landing-img {
  padding-top: 2.5em;
  height: 95vh;
  background-image: url("../images/Pagrindinis-img-backround.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-img img {
  display: block;
  margin: auto;
  width: 100%;
}

.pad {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*@media only screen and (min-width: 768px){
    .landing-img{
        background-image: url('/images/Pagrindinis-img-backround.png');
    }
}
  Pakeisti mobile-landing-img kai landscape mode  
@media all and (orientation: landscape) {
    .landing-img {
        background-image: url('/images/Pagrindinis-img-backround.png');
    }
}*/
/*# sourceMappingURL=style.css.map */