$green: #045B4B;
$text-color: #586C6E;
$background-color: white;

$blue-1: #0C1821;
$blue-2: #1b2a41;
$blue-3: #324a5f;
$blue-4: #ccc9dc;

$green-1: #cad2c5;
$green-2: #84a98c;
$green-3: #52796f;
$green-4: #354f52;
$green-5: #2f3e46;

.header{
    position: fixed;
    background-color: $background-color;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 3em;
    z-index: 1000;
     
    a {
        display: flex;
        align-items: center;

        .logo {
            height: 2.5em;
            margin-left:  20px;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .nav-bar .nav-links{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: auto;
        height: 100%;
        padding-right: 10px;
        justify-content: end;
        align-items: center;

        li{
            padding: 0 15px;

            .nav-link{
                display: flex;
                font-family: Segoe UI;
                color: $green-4;
                text-decoration: none;
                align-items: center;
                font-size: 0.9em;
            }
        }
    }
}









/* Active klase uzdesim ant to linko, kuriame busim per kita koda */
.active{
    border-bottom: solid 2px $blue-2;
}

@media only screen and (min-width: 768px){
    .nav-links{
        padding-right: 10px;
    }
}