$blue-1: #0C1821;
$blue-2: #1b2a41;
$blue-3: #324a5f;
$blue-4: #ccc9dc;

.container-3{
    width: 100%;
    z-index: -1;
    h1{
        text-align: center;
    }
}
.carousel{
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}
