@import '../../Temines-spalvos/Spalvos.scss';

.grid{
    display: grid;
    grid-template-columns: 300px auto;
}
.side-menu{
    height: 100vh;
    width: 100%;
    background: rgb(47,62,70);
    background: linear-gradient(180deg, $spalva-5 10%, $spalva-3 100%);
}

.menu-items{
    margin: 0;
    padding: 0;
    padding-top: 3em;
    li{
        list-style: none;
    }
    a{
        display: inline-flex;
        height: 100%;
        width: 100%;
        line-height: 65px;
        font-size: 20px;
        color: white;
        padding-left: 50px;
        box-sizing: border-box;
        text-decoration: none;
        align-items: center;
        img{
            width: 30px;
            height: 30px;
            margin-right: 16px;
        }
        i{
            margin-right: 16px;
        }
    }
}

.active-list{
    a{
        color: rgb(0, 204, 255);
    }
}
.menu-items li:hover{
    background-color: rgba(255, 255, 225, 0.055);
}