.nuotrauka {
  margin-top: 1em;
  width: 30vw;
  height: 30vw;
  max-width: 15em;
  max-height: 15em;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
          box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
  background-color: rgba(245, 245, 245, 0.212);
}

.nuotrauka img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

body {
  font-family: Segoe UI;
  margin: 0;
  background-color: #cad2c5;
  overflow: hidden;
}

body .content {
  margin: 0 70px;
  height: 94.5vh;
}

body .content form {
  padding: 3em 0;
}

body .content .form-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  justify-items: center;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

body .content .form-grid .col {
  width: 100%;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-1 {
  background-color: white;
  border-top: 5px solid #00ccff;
  border-bottom: 5px solid #00ccff;
  -webkit-box-shadow: 0px 0px 15px -6px black;
          box-shadow: 0px 0px 15px -6px black;
}

.col-1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-1 .text-input {
  height: 2em;
  width: 20em;
  border: none;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  text-align: center;
}

.col-1 .label {
  font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  display: flexbox;
  justify-self: center;
  margin-bottom: 1em;
  color: #84a98c;
}

.col-1 .nario-nuotrauka {
  margin-top: 1em;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
          box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
  background-color: rgba(245, 245, 245, 0.212);
  border-radius: 50%;
}

.col-1 .nario-nuotrauka img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.col-2 .Nariai-card {
  width: 100%;
  background-color: white;
  border-top: 5px solid #00ccff;
  border-bottom: 5px solid #00ccff;
  -webkit-box-shadow: inset 0px 0px 15px -6px black;
          box-shadow: inset 0px 0px 15px -6px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-2 .Nariai-card div {
  margin: 0 auto;
  width: 30vw;
  height: 30vw;
  max-width: 15em;
  max-height: 15em;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
          box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 1em;
  margin-top: 1em;
}

.col-2 .Nariai-card div img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.col-2 .Nariai-card h2 {
  text-align: center;
}

.col-2 .Nariai-card p {
  text-align: center;
  margin-bottom: 1em;
}

.col-2 .buttons {
  background-color: white;
  margin-top: 2em;
  padding: 0.5em 0;
  border-bottom: 5px solid #c1272d;
  -webkit-box-shadow: 0px 0px 15px -6px black;
          box-shadow: 0px 0px 15px -6px black;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.col-2 .buttons .btn {
  display: inline-block;
  padding: 0.5em 0.8em;
  border-radius: 8px;
  color: white;
  background-color: #52796f;
  font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  margin: 0 0.5em;
  border: none;
  width: auto;
}

.col-2 .buttons .btn:hover {
  background-color: #84a98c;
}

.col-2 .buttons .btn-save {
  background-color: #026302;
}

.col-2 .buttons .btn-save:hover {
  background-color: #026302;
  -webkit-box-shadow: inset 0px 0px 4px 3px #014d01;
          box-shadow: inset 0px 0px 4px 3px #014d01;
}

.col-2 .buttons .btn-delete {
  background-color: red;
}

.col-2 .buttons .btn-delete:hover {
  background-color: red;
  -webkit-box-shadow: inset 0px 0px 4px 3px #c20606;
          box-shadow: inset 0px 0px 4px 3px #c20606;
}

h3 {
  margin: 0.5em 0;
  color: #84a98c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alert {
  margin-top: -2em;
  font-weight: bold;
}
/*# sourceMappingURL=a-nario-redagavimas-style.css.map */