@import 'styles/Temines-spalvos/Spalvos.scss';
@import 'styles/Admin/Komandos-nariai/Komandos-nariai.scss';


body{
    font-family: Segoe UI;
    margin: 0;
    background-color: $spalva-1;
    overflow: hidden;
}

