.header {
  position: fixed;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3em;
  z-index: 1000;
}

.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a .logo {
  height: 2.5em;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.header .nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  height: 100%;
  padding-right: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-bar .nav-links li {
  padding: 0 15px;
}

.header .nav-bar .nav-links li .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Segoe UI;
  color: #354f52;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
  padding: 0 0;
}

/* Active klase nuorodos pabrezimui */
.active {
  border-bottom: solid 2px #354f52;
}

@media only screen and (min-width: 768px) {
  .nav-links {
    padding-right: 10px;
  }
}

.side-menu {
  height: 100vh;
  width: 100%;
  background: #2f3e46;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #2f3e46), to(#52796f));
  background: linear-gradient(180deg, #2f3e46 10%, #52796f 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-items {
  margin: 0;
  padding: 0;
  padding-top: 3em;
}

.menu-items li {
  list-style: none;
}

.menu-items a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-items a img {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}

.menu-items a i {
  margin-right: 16px;
}

.active-list a {
  color: #00ccff;
}

.menu-items li:hover {
  background-color: rgba(255, 255, 225, 0.055);
}

.atsijungti {
  width: 100%;
  text-align: center;
  margin-bottom: 3em;
  padding: 0 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.atsijungti p {
  padding: 10px 60px;
  background-color: #84a98c;
  font-weight: 700;
  font-size: 1em;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 20px;
  -webkit-transition: none;
  transition: none;
}

.atsijungti a:hover {
  background-color: #ac0d0d;
}

* {
  list-style: none;
  text-decoration: none;
}

a {
  -webkit-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

h1 {
  font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  color: #354f52;
}

h2 {
  font-family: 'Segoe UI', Verdana, Nunito sans, 'Segoe UI', Tahoma, Geneva, sans-serif;
  font-size: 1.1em;
  color: #354f52;
}

p {
  color: #2f3e46;
}

html, body {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: Segoe UI;
  margin: 0;
  background-color: #cad2c5;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
      grid-template-columns: 300px auto;
}

.grid .projektai {
  margin-top: 3em;
}

.grid .projektai .top-bar {
  background-color: #2f3e46;
  height: 2.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid .projektai .top-bar p {
  margin: 0;
  color: white;
  margin-left: auto;
  padding-right: 30px;
}

.grid .projektai .top-bar ul {
  margin: 0;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: space-between;
}

.grid .projektai .top-bar ul li {
  display: inline-block;
  color: #f3f3f3;
  font-size: 16px;
  margin: 0 5px;
}

.grid .projektai .main-content {
  background-color: white;
}

.error-field {
  border: solid red 1px;
  border-radius: 5px;
}

.error-note {
  color: red;
}

.alert {
  margin-top: -1.5em;
  margin-bottom: 1em;
  padding: 0.2em;
  background-color: #00CCFF;
  -webkit-box-shadow: 0px 5px 34px -14px;
          box-shadow: 0px 5px 34px -14px;
  color: #304D6D;
  text-align: center;
  font-size: 1em;
}

/*
.alert-success {

}

.alert-danger {
    
}
*/
.main-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #52796f;
}

textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  outline: none;
}
/*# sourceMappingURL=a-static-style.css.map */