.korteles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  grid-row-gap: 30px;
  grid-column-gap: 20px;
  padding: 0 30px;
  padding-top: 15px;
  height: calc(100vh - 5.5em - 15px);
  overflow-y: auto;
}

.korteles a {
  height: 290px;
}

.korteles::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.korteles::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.korteles::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #52796f;
}

.korta {
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 38, 46, 0.09);
          box-shadow: 0px 0px 10px 1px rgba(0, 38, 46, 0.09);
  width: 250px;
  height: 290px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: relative;
}

.korta .img-con {
  overflow: hidden;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.korta .img-con img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.korta h3 {
  margin: 5px 10px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #2f3e46;
}

.korta .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
  padding: 0;
}

.korta .info p {
  margin: 0 0 0 10px;
}

.korta .info h6 {
  margin: 0 10px;
  display: inline;
  padding: .2em .5em;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  font-weight: 400;
  background-color: transparent;
}

.korta-button {
  z-index: 1000;
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  opacity: 0;
  -webkit-transition: .2s opacity linear;
  transition: .2s opacity linear;
}

.korta-button div {
  background-color: #00ccff;
  padding: 5px 10px;
  line-height: 1.5em;
  border-radius: 0.25em;
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.korta-button:hover {
  opacity: 1;
}

.korta:hover {
  border-color: #00ccff;
  -webkit-box-shadow: 0px 0px 0px 1px #00ccff;
          box-shadow: 0px 0px 0px 1px #00ccff;
}

.korta:hover .img-con img {
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.korta:hover .korta-button {
  opacity: 1;
}

.paskelbta {
  color: #5cb85c;
  border: 1px solid #5cb85c;
}

.paskelbta ::before {
  content: "Paskelbta";
}

.redaguojama {
  color: #eb912a;
  border: 1px solid #eb912a;
}

.redaguojama ::before {
  content: "Redaguojama";
}

.new-project {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #cad2c5;
  width: 250px;
  height: 290px;
  border-style: dashed;
  border-width: 2px;
  border-color: white;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.new-project p {
  margin-left: 0.5em;
  font-size: 14px;
  color: #727272;
  font-style: italic;
}

.new-project:hover {
  background-color: #ffffff55;
}
/*# sourceMappingURL=a-visi-projektai-style.css.map */