.header {
  position: fixed;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3em;
  z-index: 1000;
}

.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a .logo {
  height: 2.5em;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.header .nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  height: 100%;
  padding-right: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-bar .nav-links li {
  padding: 0 15px;
}

.header .nav-bar .nav-links li .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Segoe UI;
  color: #354f52;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
  padding: 0 0;
}

/* Active klase nuorodos pabrezimui */
.active {
  border-bottom: solid 2px #354f52;
}

@media only screen and (min-width: 768px) {
  .nav-links {
    padding-right: 10px;
  }
}

.footer-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: flex-start;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 0px;
  grid-column-gap: 35px;
  min-width: 18em;
}

.footer-links h3 {
  font-weight: 400;
  color: #cad2c5;
}

.footer-links ul {
  list-style: none;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.footer-links ul li a, .footer-links ul li span {
  text-decoration: none;
  color: #cad2c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links ul li a img, .footer-links ul li span img {
  height: 1.5em;
  padding-right: 6px;
}

.footer {
  background-color: #354f52;
  padding: 0 1em;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #cad2c5;
}

.content {
  padding-top: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  /*
    .title-banner {
        position: fixed;
        left: 0;
        box-sizing: border-box;
        height: 15em;
        overflow: hidden;
        margin: 0 auto; 
        width: 100%;
        text-align: center;
        
        
        img {
            position: relative;
            height: 100%;
            left: 0;
            color: white;
            z-index: 2;
            filter: blur(8px);
        }

        h1 {
            color: white;
            position: relative;
            margin: 0;
            margin: 0 auto;
            width: auto;
            bottom: 50%;
            width: 80%;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            z-index: 3;
        }
    }
    */
}

.content .article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2em 1em;
  background-color: white;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.content .article p {
  text-align: justify;
  line-height: 1.4em;
  font-size: 1.5em;
}

@media only screen and (min-width: 500px) {
  .content .title-banner img {
    text-align: center;
  }
  .content .article {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 2em 2em;
    min-width: 500px;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
  }
  .content .article p {
    font-size: auto;
    line-height: 1.4em;
    font-size: 1em;
  }
}
/*# sourceMappingURL=straipsnis-style.css.map */