@import 'styles/Temines-spalvos/Spalvos.scss';
@import 'styles/Header/Header.scss';
@import 'styles/Footer/Footer.scss';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: $spalva-1;
}

.content {
    padding-top: 3em;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    /*
    .title-banner {
        position: fixed;
        left: 0;
        box-sizing: border-box;
        height: 15em;
        overflow: hidden;
        margin: 0 auto; 
        width: 100%;
        text-align: center;
        
        
        img {
            position: relative;
            height: 100%;
            left: 0;
            color: white;
            z-index: 2;
            filter: blur(8px);
        }

        h1 {
            color: white;
            position: relative;
            margin: 0;
            margin: 0 auto;
            width: auto;
            bottom: 50%;
            width: 80%;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            z-index: 3;
        }
    }
    */

    .article {
        box-sizing: border-box;
        padding: 2em 1em;
        background-color: white;
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
        p {
            text-align: justify;
            line-height: 1.4em;
            font-size: 1.5em;
        }
        
        
    }
}

// Dtyle  for dekstop wiew
@media only screen and (min-width: 500px){
    .content {
        .title-banner img {
            text-align: center;
        }
        .article {
            box-sizing: border-box;
            margin: 0 auto; 
            padding: 2em 2em;
            min-width: 500px;
            width: 50%;
            margin: 0 auto;
            background-color: white;
            overflow: hidden;
            font-family: 'Roboto', sans-serif;
            p {
                font-size: auto;
                line-height: 1.4em;
                font-size: 1em;
            }
        }
    }
}