@import '../../Temines-spalvos/Spalvos.scss';



.content{
    margin: 0 5em;
    margin-top: 3em;
}


table{
    width: 100%;
    min-width: 500px;
    border-collapse: collapse;
    font-size: 0.9em;

    p {
        margin: 0;
        padding: 0;
    }
}


.table-heading {
    background-color: $spalva-3;
    

    p {
        border-right: 1px solid white;
        color: white;
    }

    .last-cell {
        border-right: none;
    }
}


.table-body {
    border-collapse: separate;
    border-spacing: 0 1em;
    counter-reset: rowNumber;

    tr {
        background-color: white;
        counter-increment: rowNumber;

        p {
            border-right: 1px solid $spalva-3;
            max-width: 20em;
        }

        .last-cell {
            border-right: none;
        }

        td:first-child p::before {
            content: counter(rowNumber);
        }
    }

}


tr {
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}

td {
    text-align: center;
}

th, tr {
    height: 2.3em;
}


th {
    font-weight: unset;
}

.number {
    width: 3em;
}

.img-container{
    margin-left: 0.4em;
    width: 2em;
    height: 2em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 3px 22px 1px rgba(55,48,48,.09);
    background-color: rgba(245, 245, 245, 0.212);
    img{
        vertical-align: middle;
        object-fit: cover;
        width: 100%;
    }
}

.heading-name {
    min-width: 11em;
}

.name {
    min-width: 6em;
    p {
        padding-right: 0.4em;
    }
}

.description {
    min-width: 8em;
    p {
        padding-left: 0.4em;
        padding-right: 0.4em;
    }
}

.spacer-cell {
    //width: 6em;
    p {
        color: $spalva-3;
    }
}

#button-box {
    width: 100%;
    padding: 0;
}



.add-member {
    display:inline-block;
    box-sizing: border-box;
    min-height:100%;
    width: 100%;
    padding: 5px;
    background-color: $blue;
    color: white;
    font-size: 1.2em;
}

.edit {
    padding: 0;
    background-color: $green;
    a {
        background-color: $green;
        display:inline-block;
        box-sizing: border-box;
        min-height:100%;
        width: 100%;
        padding: 10px;
        color: white;
        text-decoration: none;
    }
}
