@import '../../Temines-spalvos/Spalvos.scss';

.content{
    display: flex;
    justify-items: center;
    height: calc(100% - 2.5em);
    width: 100%;
    
}
.writing{

}

.info{
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 38, 46, 0.09);
    h3{
        margin: 0.5em 0;
        color: $spalva-2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    input, textarea{
        width: 100%;
        outline: none;
    }
    
}
.pavadinimas{
    h3{
        margin-top: 0;
    }
}
.trumpasis-aprasymas{
    textarea{
        font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        outline: none;
    }
}
.nuotrauka{
    input{
        margin-bottom: 16px;
    }
    div{
        overflow: hidden;
        width: 283px;
        height: 170px;
        border-style: dashed;
        border-width: 2px;
        border-color: rgb(218, 218, 218);
        background-color: rgb(245, 245, 245);
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    
}

// https://github.com/nathancahill/split/tree/master/packages/splitjs
// rankenėlė su kuria gali keisti info plotį
// jei nori pakeisti pačios rankenėlės plotį, žiūrėk į scripts/split.js
.gutter{
    height: 100%;
    cursor: e-resize;
}
