@import '../../Temines-spalvos/Spalvos.scss';

.content{
    display: flex;
    justify-items: center;
    height: calc(100% - 2.5em);
    width: 100%;
    
}
.writing{
    padding: 0.5em;
}

.informacija{
    // info menu plotis nusistosi scrpts/split.js >> minSize
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 38, 46, 0.09);
    h3{
        margin: 0.5em 0;
        color: $spalva-2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    input, textarea{
        width: 100%;
        outline: none;
    }
    
}
.pavadinimas{
    h3{
        margin-top: 0;
    }
}
.trumpasis-aprasymas{
    textarea{
        font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        outline: none;
    }
}
.nuotrauka{
    input{
        margin-bottom: 16px;
    }
    .fa-photo{
        top: 20px;
    }
    div{
        overflow: hidden;
        //width: 283px;
        width: 100%;
        height: 170px;
        border-style: dashed;
        border-width: 2px;
        border-color: rgb(218, 218, 218);
        background-color: rgb(245, 245, 245);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        img{
            height: 100%;
            object-fit: cover;
        }
    }
}

.mygtukai{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    button{
        border: none;
        padding: 20px 32px;
        text-align: center;
        display: inline-block;
        padding: 5px;
        width: 48%;
        border-radius: 8px;
        color: white;
        font-size: 14px;
        cursor: pointer;
        outline: none;
    }
    .Išsaugoti{
        background-color: #00ABFF;
    }
    .Paskelbti{
        background-color: rgb(2, 99, 2);
    }
}

// https://github.com/nathancahill/split/tree/master/packages/splitjs
// rankenėlė su kuria gali keisti info plotį
// jei nori pakeisti pačios rankenėlės plotį, žiūrėk į scripts/split.js
.gutter{
    height: 100%;
    cursor: e-resize;
    background-color: white;
}

.ql-contaier{
    display: flex;
    justify-content: space-evenly;
}
.ql-editor{
    width: 100%;
    max-width: 800px;
}
