$border-radius: 20px;
$card-width: 16em;

$blue-1: #0C1821;
$blue-2: #1b2a41;
$blue-3: #324a5f;
$blue-4: #ccc9dc;

.container-2{
    width: 100%;
    max-width: 1250px;
    z-index: -1;
    h1{
        text-align: center;
    }
}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($card-width, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding: 0 30px;
    
}

.card{
    display: flex;
    flex-direction: column;
    //align-items: center;
    background: #fff;
    position: relative;
    box-shadow: 0 3px 22px 1px rgba(55,48,48,.09);
    border-radius: $border-radius;
    width: $card-width;
    

    div{
        overflow: hidden; 
        max-height: 9em
    }

    h2{
        margin: 0 20px;
    }
    
    img{
        width: 100%;
        border-radius: $border-radius $border-radius 0 0; 
        vertical-align: middle;
        object-fit: cover;
    }
        p{
            padding: 0 20px 15px 20px; 
            margin: 0px;
        }

}


/*@media only screen and (min-width: 560px){
    .content{
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}
*/