@import '../../styles/_Spalvos.scss';
@import '../../styles/_Header.scss';
@import '../../styles/_Admin-menu.scss';

.btn{
    display: inline-block;
    padding: 0.5em 0.8em;
    border-radius: 8px;
    color: white;
    background-color: $spalva-3;
    font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin: 0 0.5em;
    border: none;
}
.btn:hover{
    background-color: $spalva-2;
}
.long-boy{
    width: 100%;
    margin: 0;
    font-size: 1.1em;
}

.content{
    margin: 0 100px;
    form{
        div{
            margin: 1em 0;
        }
    }
}

.page-title{
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
    a{
        text-decoration: none;
    }
}
td{
    input{
        min-width: 180px;
    }
}

.img-container{
    width: 2.5em;
    overflow: hidden;
    padding: 10px 0;
    min-width: 2.5em;
    img{
        width: 100%;
        object-fit: cover;
        border-radius: 1.25em;
        vertical-align: middle;
    }
}

td, th{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid $spalva-3;
    color: $spalva-4;
}
tr:last-child td{
    border-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.Išsaugoti{
    text-align: right;
    a{
        color: green;
    }
}
.Ištrinti{
    text-align: right;
    a{
        color: red;
    }
}
.Redaguoti:hover, .Ištrinti:hover, .Publikuoti:hover{
    text-decoration: underline;
}

.text-input{
    height: 2em;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.label{
    font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

.nuotrauka{
    margin-top: 1em;
    width: 30vw;
    height: 30vw;
    max-width: 15em;
    max-height: 15em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    //border-radius: 50%;
    box-shadow: 0 3px 22px 1px rgba(55,48,48,.09);
    background-color: rgba(245, 245, 245, 0.212);
    img{
        vertical-align: middle;
        object-fit: cover;
        width: 100%;
    }
}

a{
    transition: all .2s cubic-bezier(.55,.085,.68,.53);
}

h1{
    font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: $spalva-4;
}

h2{
    font-family: 'Segoe UI', Verdana, Nunito sans, 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 1.5em;
    color: $spalva-4;
}

p{
    color: $spalva-5;
}

html, body{
    min-height: 100%;
}

body{
    font-family: Segoe UI;
    margin: 0;
    background-color: $spalva-1;
}

h3{
    margin: 0.5em 0;
    color: $spalva-2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
input, textarea{
    width: 100%;
    outline: none;
}

.grid{
    display: grid;
    grid-template-columns: 300px auto;
}