.header {
  position: fixed;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3em;
  z-index: 1000;
}

.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a .logo {
  height: 2.5em;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.header .nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  height: 100%;
  padding-right: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-bar .nav-links li {
  padding: 0 15px;
}

.header .nav-bar .nav-links li .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Segoe UI;
  color: #354f52;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
}

/* Active klase uzdesim ant to linko, kuriame busim per kita koda */
.active {
  border-bottom: solid 2px #354f52;
}

@media only screen and (min-width: 768px) {
  .nav-links {
    padding-right: 10px;
  }
}

.btn {
  display: inline-block;
  padding: 0.5em 0.8em;
  border-radius: 8px;
  color: white;
  background-color: #52796f;
  font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  margin-right: 1em;
  border: none;
}

.top-bar {
  background-color: #2f3e46;
  height: 2.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
}

.top-bar ul {
  margin: 0;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: space-between;
}

.top-bar ul li {
  display: inline-block;
  color: #f3f3f3;
  font-size: 16px;
  margin: 0 5px;
}

.top-bar ul li a {
  list-style: none;
  text-decoration: none;
}

.side-menu {
  height: 100vh;
  width: 100%;
  background: #2f3e46;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #2f3e46), to(#52796f));
  background: linear-gradient(180deg, #2f3e46 10%, #52796f 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-items {
  margin: 0;
  padding: 0;
  padding-top: 3em;
}

.menu-items li {
  list-style: none;
}

.menu-items a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-items a img {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}

.menu-items a i {
  margin-right: 16px;
}

.active-list a {
  color: #00ccff;
}

.menu-items li:hover {
  background-color: rgba(255, 255, 225, 0.055);
}

.atsijungti {
  width: 100%;
  text-align: center;
  margin-bottom: 3em;
}

.atsijungti a {
  padding: 10px 60px;
  background-color: #84a98c;
  font-weight: 700;
  font-size: 1em;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 20px;
  -webkit-transition: none;
  transition: none;
  text-decoration: none;
}

.atsijungti a:hover {
  background-color: #ac0d0d;
}

.container-2 {
  width: 100%;
  max-width: 1250px;
  z-index: -1;
}

.container-2 h1 {
  text-align: center;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  padding: 0 30px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
          box-shadow: 0 3px 22px 1px rgba(55, 48, 48, 0.09);
  border-radius: 20px;
  width: 16em;
}

.card div {
  overflow: hidden;
  max-height: 9em;
}

.card h2 {
  margin: 10px 20px;
}

.card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.card p {
  padding: 0 20px 15px 20px;
  margin: 0px;
  color: #2f3e46;
}

/*@media only screen and (min-width: 560px){
    .content{
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}
*/
.footer-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: flex-start;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 0px;
  grid-column-gap: 35px;
  min-width: 18em;
}

.footer-links h3 {
  font-weight: 400;
  color: #cad2c5;
}

.footer-links ul {
  list-style: none;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.footer-links ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #cad2c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-links ul li a img {
  height: 1.5em;
  padding-right: 6px;
}

.footer {
  background-color: #354f52;
  padding: 0 1em;
}

h1, h2 {
  font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #324a5f;
}

p {
  color: #707070;
}

html, body {
  min-height: 100%;
}

body {
  font-family: Segoe UI;
  margin: 0;
  background-color: whitesmoke;
}

.landing-img {
  padding-top: 2.5em;
  height: 95vh;
  background-color: #324a5f;
  background-image: url("/images/landing-img-backround.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-img img {
  display: block;
  margin: auto;
  width: 100%;
}

.pad {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .landing-img {
    background-image: url("/images/landing-img-backround.png");
  }
}

/*  Pakeisti mobile-landing-img kai landscape mode  */
@media all and (orientation: landscape) {
  .landing-img {
    background-image: url("/images/landing-img-backround.png");
  }
}
