$blue-1: #0C1821;
$blue-2: #1b2a41;
$blue-3: #324a5f;
$blue-6: #DDE8E6;
$blue-4: #ccc9dc;
$blue-5: #00ABFF;

$green-1: #cad2c5;
$green-2: #84a98c;
$green-3: #52796f;
$green-4: #354f52;
$green-5: #2f3e46;
    
.footer-links{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    justify-items: flex-start;
    grid-template-rows: auto;
    grid-row-gap: 0px;
    grid-column-gap: 35px;
    //padding: 0 30px;
    min-width: 18em;
    h3{
        font-weight: 400;
        color: $green-1;
    }
    
    ul{
        list-style: none;
        //
        font-size: 1em;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 7px;

            a{
                text-decoration: none;
                color: $green-1;
                display: flex;
                align-items: center;
                
                img{
                    height: 1.5em;
                    padding-right: 6px;
                }
            }
        }
    }
}

.footer{
    background-color: $green-4;
    padding: 0 1em;
}
    