$blue-1: #0C1821;
$blue-2: #1b2a41;
$blue-3: #324a5f;
$blue-4: #ccc9dc;

$green-1: #cad2c5;
$green-2: #84a98c;
$green-3: #52796f;
$green-4: #354f52;
$green-5: #2f3e46;

.container-3{
    width: 90%;
    //padding: 0 3em;
    //z-index: -1;
    margin: 0 auto;
    h1 {
        text-align: center;
    }
}
.box{
    display: flex;
    justify-content: center;
}

.Nariai-card{
    width: 100%;
    div{
        margin: 0 auto;
        width: 30vw;
        height: 30vw;
        max-width: 15em;
        max-height: 15em;
        overflow: hidden;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 0 3px 22px 1px rgba(55,48,48,.09);
        img{
            vertical-align: middle;
            object-fit: cover;
            width: 100%;
        }
        
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
}

.priv_arrow, .next_arrow{
    position: absolute;
    top: 37%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}
.priv_arrow{
    left: -35px;
}
.next_arrow{
    right: -35px;
}
.slick-slide {
    outline: none;
}