@import '../Temines-spalvos/Spalvos.scss';

$spalva: #045B4B;
$text-color: #586C6E;
$background-color: white;

.header{
    position: fixed;
    background-color: $background-color;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 3em;
    z-index: 1000;
     
    a {
        display: flex;
        align-items: center;

        .logo {
            height: 2.5em;
            margin-left:  20px;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .nav-bar .nav-links{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: auto;
        height: 100%;
        padding-right: 10px;
        justify-content: end;
        align-items: center;

        li{
            padding: 0 15px;

            .nav-link{
                display: flex;
                font-family: Segoe UI;
                color: $spalva-4;
                text-decoration: none;
                align-items: center;
                font-size: 0.9em;
                padding: 0 0;
            }
        }
    }
}

/* Active klase nuorodos pabrezimui */
.active{
    border-bottom: solid 2px $spalva-4;
}

@media only screen and (min-width: 768px){
    .nav-links{
        padding-right: 10px;
    }
}