@import '_Spalvos.scss';

.btn{
    display: inline-block;
    padding: 0.5em 0.8em;
    border-radius: 8px;
    color: white;
    background-color: $spalva-3;
    font-family: Nunito sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin-right: 1em;
    border: none;
}

.top-bar{
    background-color: $spalva-5;
    height: 2.5em;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 3em;
    ul{
        margin: 0;
        padding-left: 30px;
        display: flex;
        justify-items: space-between;
        li{
            display:inline-block;
            color: rgb(243, 243, 243);
            font-size: 16px;
            margin: 0 5px;
            a{
                list-style: none;
                text-decoration: none;
            }
        }
        
    }
}

.side-menu{
    height: 100vh;
    width: 100%;
    background: rgb(47,62,70);
    background: linear-gradient(180deg, $spalva-5 10%, $spalva-3 100%);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items{
    margin: 0;
    padding: 0;
    padding-top: 3em;
    li{
        list-style: none;
    }
    a{
        display: inline-flex;
        height: 100%;
        width: 100%;
        line-height: 65px;
        font-size: 20px;
        color: white;
        padding-left: 50px;
        box-sizing: border-box;
        text-decoration: none;
        align-items: center;
        img{
            width: 30px;
            height: 30px;
            margin-right: 16px;
        }
        i{
            margin-right: 16px;
        }
    }
}

.active-list{
    a{
        color: rgb(0, 204, 255);
    }
}
.menu-items li:hover{
    background-color: rgba(255, 255, 225, 0.055);
}
.atsijungti{
    width: 100%;
    text-align: center;
    margin-bottom: 3em;
    a{
        padding: 10px 60px;
        background-color: $spalva-2;
        font-weight: 700;
        font-size: 1em;
        box-shadow: 0 0 15px rgba(0,0,0,.1);
        color: white;
        border-radius: 20px;
        transition: none;
        text-decoration: none;
    }
}

.atsijungti a:hover{
    background-color: rgb(172, 13, 13);
}