{% extends "a-layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='a-apie-mus-style.css') }}" />
{% endblock style %}

{% block content %}
        <div class="top-bar"></div>
        <div class="main-content">
            <div class="content">
                <form autocomplete="off" method="POST" action="" enctype="multipart/form-data">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                            {{ message }}
                            </div>
                        {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {{ form.hidden_tag() }}
                    <div class="flex-container">
                        <div>
                            <!--Input label-->
                            <div class="label">{{ form.content.label() }}</div>
                            
                            <!--Output input field with error message if there are any-->
                            {% if form.content.errors %}        
                                {{ form.content(class="text-area error-field",  placeholder="Kas mes tokie?") }} 
                                <div class="error-note">
                                    {% for error in form.content.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <!--Input field without error message-->
                                {{ form.content(class="text-area",  placeholder="Kas mes tokie?") }} 
                            {% endif %}
                        </div>
                        <div >
                            <!--Input label-->
                            <div class="label">{{ form.picture.label() }}</div>
                            <!--Input field-->
                            {{ form.picture(id="src") }}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <br><span class="error-note">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                            <div class="apie-mus-nuotrauka">
                                <img  id="target"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="btn-box">{{ form.submit(class="btn") }}</div>
                </form>
            </div>
        
            <section class="pad">
                <div class="container">
                    <div class="tekstas">
                        <h1>Apie mus</h1>
                        <p>{{ about.content }}</p>
                    </div>
                    <div class="about-img">
                        <img src="../static/images/Apie_mus_nuotr/{{ about.image_file }}" alt="Apie mus nuotrauka">
                    </div>
                </div>
            </section>
        </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/nuotrauka.js') }}"></script>
{% endblock script %}