{% extends "a-layout.html" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='a-nariai-style.css') }}" />
{% endblock style %}

{% block content %}
    <div class="top-bar">
        <ul><li>Komandos-nariai</li></ul>
        <p>{{ members|length }} - Narių sk.</p>
    </div>

    <div class="content">
        <table>
            <tr class="table-heading">
                <th class="number"><p>Nr.</p></th>
                <th class="heading-name"><p>Vardas ir Pavardė</p></th>
                <th class="description"><p>Trumpa mintis ar komentaras</p></th>
                <th class="spacer-cell"><p class="last-cell">Redaguoti</p></th>
            </tr>
        </table>
        <table class="table-body">
            
            {% for member in members %}
            <tr>
                <td class="number"><p><!--HERE A NUMBER APEARS--></p></td>
                <td>
                    <div class="img-container">
                        <img src="{{ url_for('static', filename='images/Nariai/' + member.profile_image_file) }}" alt="img">
                    </div>
                </td>
                <td class="name"><p>{{ member.name }}</p></td>
                <td class="description"><p class="last-cell">{{ member.description }}</p></td>
                <td class="edit"><a class="edit" href="{{ url_for('edit_member', member_id=member.id) }}">Redaguoti</a></td>
            </tr>
            {% endfor %}

            <!--            BIG LINK              -->

            <tr>
                <td colspan="5" id="button-box">
                    <a class="add-member" href="{{ url_for('create_member') }}">Pridėti žmogų</a>
                </td>
            </tr>    
        </table>
    </div>
{% endblock content %}
