{% extends "a-layout.html" %}

{% block style %}

{% endblock style %}

{% block content %}
    <div class="top-bar"></div>
    <!--
    <div style="margin-left: 3em; margin-top: 4em;">
        <h3>Prisijungimo duomenys:</h3>
        <span>Vartotojo vardas:  </span>
        <p>{{ current_user.username }}</p>
        <span>Vartotojo slaptažodis:  </span>
        <p>{{ current_user.password }}</p>
    </div>
    <br><br>

    <div style=" width: 400px; margin-left: 3em;">
        <!--ERROR message from the login form--
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <!-- shows input error
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}--
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Mano Info</legend>
                <div class="form-group">
                    <!--    USERNAME    --
                    <!--Input label--
                    {{ form.username.label(class="") }}
                    
                    <!--Output input field with error message if there are any--
                    {% if form.username.errors %}
                        {{ form.username(class="error-field") }} 
                        <div class="error-note">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <!--Input field without error message--
                        {{ form.username(class="") }} 
                    {% endif %}
                </div>
            </fieldset>
            <div style="margin-left: 100px; margin-top: 10px;">
                {{ form.submit(class="") }}
            </div>
        </form>
    </div>-->
    <div class="content">
        <div class="card">
            <div class="heading">
                <h2></h2>
            </div>
            <div class="admin-info">
                <h3>Vartotojo vardas:</h3>
                <p>{{ current_user.username }}</p>
                <h3>Vartotojo slaptažodis:</h3>
                <p>{{ current_user.password }}</p>
            </div>
        </div>
    </div>

{% endblock content %}
