{% extends "a-layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='a-media-kont-style.css') }}" />
{% endblock style %}

{% block content %}
    <div class="top-bar"></div>
    <div class="content">
        <section>
            <p>*Socialių tinklų formą užpildoma pateikiant sveitainės puslapio nuorodą (URL).</p>
            
            <form method="POST" action="" enctype="multipart/form-data" autocomplete="off">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}    
                    {% endif %}
                {% endwith %}
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                <div class="edit-footer">
                    <div class="column">
                        <div>
                            <h4>Socialiniai tinklų nuorodos</h4>
                            {% set num = ['1', '2', '3', '4'] %}
                            {% for i in range(0,4) %}
                                {% if form['Link' + num[i]].errors %}        
                                    {{ form['Link' + num[i]] (class="input error-field", placeholder="Instagram" ) }}
                                    {% for error in form['Link' + num[i]].errors %}
                                        <span class="error-note">{{ error }}</span>
                                    {% endfor %}
                                {% else %}
                                    {{ form['Link' + num[i]] (class="input", placeholder="Instagram" ) }} 
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <h4>Kontaktai</h4>
                            {% for i in range(0,4) %}
                                {{ form['contact' + num[i]] (class="input", placeholder="tel. numeris / el. paštas" ) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="sbmit-column">
                        <div class="submit-box">
                            {{ form.submit(class="submit") }}
                        </div>
                    </div>
                </div>
            </form>
        </section>
        

        <!-- Footer'is -->
        <footer class="footer pad">
            <div class="footer-links">
                <div>
                    <h3>Socialiniai Tinklai</h3>
                    <ul>
                        {% for link in links %}
                        <li>
                            <a  target="_blank" href="{{ link.web_link }}">
                                <img src="../static/images/icons/{{ link.web_name }}_icon.png" alt="Icon">
                                <span>{{ link.web_name }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    
                    <h3>Kontaktai</h3>
                    <ul>
                        {% for contact in contacts %}
                        <li>
                            <span>{{ contact.content }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </footer>
    </div>

{% endblock content %}
