{% extends "a-layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='a-nario-redagavimas-style.css') }}" />
{% endblock style %}

{% block content %}
<div class="top-bar">
    <ul>
        <li id="active-vieta">
            <a style="font-style: italic; color: #00ccff;" href=" {{ url_for('team_members') }} ">Komandos nariai</a>
        </li>
        <li>/</li>
        {% if title == "Nario redagavimas" %}
            <li>{{ member.name }}</li>
        {% elif title == "Nario sukurimas" %}
            <li>{{ title }}</li>
        {% endif %}
        
    </ul>
</div>
<div class="content">
    <div id="confirm-box"></div>
    <div id="alert-box"></div>

    <form autocomplete="off" method="POST" action="" enctype="multipart/form-data">
        <div class="form-grid">
            <div class="col col-1">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {{ form.hidden_tag() }}

                <div>
                    <!--Input label-->
                    <div class="label">{{ form.name.label() }}</div>

                    <!--Output input field with error message if there are any-->
                    {% if form.name.errors %}
                        {{ form.name(class="text-input error-field",  placeholder="Kas aš esu?") }}
                        <div class="error-note">
                            {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <!--Input field without error message-->
                        {{ form.name(class="text-input",  placeholder="Kas aš esu?") }}
                    {% endif %}
                </div>
                <div>
                    <!--Input label-->
                    <div class="label">{{ form.member_description.label() }}</div>

                    <!--Output input field with error message if there are any-->
                    {% if form.member_description.errors %}
                        {{ form.member_description(class="text-input error-field",  placeholder="Kas aš toksai?") }}
                        <div class="error-note">
                            {% for error in form.member_description.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <!--Input field without error message-->
                        {{ form.member_description(class="text-input",  placeholder="Kas aš toksai?") }}
                    {% endif %}
                </div>
                <div>
                    <!--Input label-->
                    <div class="label">{{ form.profile_pic.label() }}</div>
                    <!--Input field-->
                    {{ form.profile_pic(id="src") }}
                    {% if form.profile_pic.errors %}
                        {% for error in form.profile_pic.errors %}
                            <span class="error-note note">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                    <div class="nario-nuotrauka">
                        <img id="target" />
                    </div>
                </div>

            </div>

            <div class="col col-2">
                <div class="Nariai-card">
                    <div>
                        <img src="{{ url_for('static', filename='images/Nariai/' + member.profile_image_file) }}" alt="Profilinė nuotrauka">
                    </div>
                    <h2>{{ member.name }}</h2>
                    <p>{{ member.description }}</p>
                </div>
                <div class="buttons">
                    <div class="btn-box">{{ form.save(class="btn btn-save") }}</div>
                    {% if title == "Nario redagavimas" %}
                        <div class="btn-box">{{ form.delete(id="delete", class="btn btn-delete", style="display: none;") }}</div>  
                        <p id="confirm-deletion" class="btn btn-delete" >Ištrinti</p>
                    {% endif %}
                </div>
                            
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/nuotrauka.js') }}"></script>

{% endblock script %}

    