{% extends "a-layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='a-redaguoti-projekta-style.css') }}" />
{% endblock style %}

{% block content %}
    <div class="top-bar">
        <ul>
            <li  id="active-vieta">
                <a  style="font-style: italic; color: #00ccff;" href=" {{ url_for('admin') }} ">Visi projektai</a>
            </li>
            <li>/</li>
            <li>{{ title }}</li>
        </ul>
    </div>
    <div class="content">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="writing">
                {{ form.body() }}
            </div>
            <div class="informacija">
                <!--ERROR message from the  form-->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                            {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div>
                
                    <div class="pavadinimas">
                        <!--Input label-->
                        <div class="label--state">
                            <h3>Pavadinimas</h3>
                            {% if title == 'Projekto redagavimas' %}
                                {% if post.is_posted %}
                                <h3 class="state paskelbta"><span></span></h3>
                                {% elif not post.is_posted %}
                                <h3 class="state redaguojama"><span></span></h3>
                                {% endif %}
                            {% endif %}
                        </div>
                        
                        <!--Output input field with error message if there are any-->
                        {% if form.title.errors %}
                            {{ form.title(class="error-field", placeholder="Pavadinimas") }} 
                            <div class="error-note">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <!--Input field without error message-->
                            {{ form.title(class="", placeholder="Pavadinimas") }} 
                        {% endif %}
                    </div>
                    <div class="trumpasis-aprasymas">
                        <!--Input label-->
                        <h3>Trumpas aprašymas</h3>
                        <!--Output input field with error message if there are any-->
                        {% if form.short_description.errors %}
                            {{ form.short_description(class="error-field", placeholder="Projekto trumpas aprašymas") }} 
                            <div class="error-note">
                                {% for error in form.short_description.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <!--Input field without error message-->
                            {{ form.short_description(class="", placeholder="Aprašymas") }} 
                        {% endif %}
                    </div>
                    <div class="nuotrauka">
                        {% if title == "Projekto sukurimas" %}
                            <!--Input label-->
                            <h3>Projekto miniatūra</h3>
                            <!--Input field--> 
                            {{ form.picture(id="src", required=True) }}
                        {% elif title == "Projekto redagavimas" %}
                            <!--Input label-->
                            <h3>Pakeisti projekto miniatūra</h3>
                            <!--Input field--> 
                            {{ form.picture(id="src") }}
                        {% endif %}

                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <p style="margin: 0;" class="error-note">{{ error }}</p><br>
                            {% endfor %}
                        {% endif %}
                        <div>
                            <img id="target"/>
                        </div>
                    </div>
                    <div class="buttons">
                        {% if title == "Projekto redagavimas" %}
                        <div>
                            <!--button-->
                            {{ form.save2(id="saveDelta", class="save") }}
                        </div>
                        <div>
                            <!--button-->
                            <p id="confirm-deletion">Ištrinti</p>
                            {{ form.delete(id="delete", style="display: none") }}
                        </div>
                            {% if post.is_posted == False %}
                            <div>
                                {{ form.publish(class="publish") }}
                            </div>
                            {% endif %}
                        {% elif title == "Projekto sukurimas" %}
                        <div>
                            <!--button-->
                            {{ form.save(id="saveDelta", class="save") }}
                        </div>
                        <div>
                            <!--button-->
                            {{ form.publish(class="publish") }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/nuotrauka.js') }}"></script>
    <!---->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/ckeditor/ckeditor.js') }}"></script>
    
    
    <!--{{ ckeditor.load(pkg_type='full') }}-->
    {{ ckeditor.config(language='lt', name='body', height=300 ) }}
{% endblock script %}