{% extends "a-layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='a-visi-projektai-style.css') }}" />
{% endblock style %}

{% block content %}
    <div class="top-bar">
        <ul class="white">
            <li class="active-vieta">Visi projektai</li>
        </ul>
        <p class="projektu-sk">{{ posts|length }} projektų</p>
    </div>


    <div class="korteles">
        <a id="new-project-link" href=" {{ url_for('create_project') }} ">
            <div class="new-project">
                <img src=" {{ url_for('static', filename='images/Pliusas.svg' ) }} " alt="+">
                <p>Sukurti naują projektą</p>
            </div>
        </a>
        {% for post in posts %}
            <a href=" {{ url_for('edit_project', post_id=post.id) }} " class="projektas">
                <div class="korta">
                    <div class="img-con">
                        <img src=" {{ url_for('static', filename='images/Projektu nuotraukos/' + post.thumbnail ) }} " alt="Projekto img">
                    </div>
                    <h3>{{ post.title }}</h3>
                    <div class="korta-button">
                        <div>Redaguoti</div>
                    </div>
                    <div class="info">
                        <p class="data">
                            {% if post.date_posted == None %}
                                Paskelbimo datos nėra
                            {% else %}
                                {{ post.date_posted.strftime('%Y-%m-%d') }}
                            {% endif %}
                        </p>
                        {% if post.is_posted %}
                        <h6 class="paskelbta"><span></span></h6>
                        {% elif not post.is_posted %}
                        <h6 class="redaguojama"><span></span></h6>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
        
    </div>
{% endblock content %}
