{% extends "layout.html" %}

{% block style %}
    <!-- CSS for "Projektai" page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='projektai-style.css') }}" />
{% endblock style %}  

{% block content %}
    <div style="height: 5em;"></div>
    <div style="min-height: 100vh; width: 300px; margin: 0 auto;">
        {% for project in published_projects.items %}
        <a href=" {{ url_for('read_article', project_id=project.id) }} ">
            <div style="border: solid 1px black; display: flex; flex-direction: column; align-items: center; margin-bottom: 2em;">
            
                <div>
                    <img src=" {{ url_for('static', filename='images/Projektu nuotraukos/' + project.thumbnail ) }} " alt="Nuotrauka">
                </div>
                <h2>{{ project.title }}</h2>
                <p>{{ project.description}}</p>
            </div>
        </a>
        {% endfor %} 
        <div style="display: flex; justify-content: center;">
            {% for page_num in published_projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if page_num == published_projects.page %}
                    <a style="padding: 0 7px; border: solid 1px rgb(0, 102, 255); color: white; background-color: rgb(0, 102, 255); margin: 3px;" href="{{url_for('projects', page=page_num)}}">{{ page_num }}</a>
                    {% else %}
                    <a style="padding: 0 7px; border: solid 1px rgb(0, 102, 255); margin: 3px;" href="{{url_for('projects', page=page_num)}}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                ...
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
{% endblock content %}

{% block scripts %}

{% endblock scripts %}  
