<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Iearn Žiežmariai Prisijungimas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!--Our css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='prisijungimas-style.css') }}">
    <!--Title icon-->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}">
</head>
<body>
    <div style="padding-top: 50px;"></div>
    <p style="text-align: center;">Įveskite vartotojo el. paštą ir jums bus atsiųsta žinutė su instrukcijomis</p>
    
    <!--Stiliu patys uzsidedam grazesni, ji galima perrasyt-->  
    <div style=" width: 400px;">
        <!--ERROR message from the login form-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST" action="" enctype="multipart/form-data" style="padding-left: 40%;">
            {{ form.hidden_tag() }}
            
            
            <!-- shows input error -->
            {% if form.errors %}
                <span>Įvyko klaida!</span>
            {% endif %}
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">pakeisti slaptažodį</legend>
                <div class="form-group">
                    <!--    EMAIL    -->
                    <!--Input label-->
                    {{ form.email.label(class="") }}
                    
                    <!--Output input field with error message if there are any-->
                    {% if form.email.errors %}
                        {{ form.email(class="error-field") }} 
                        <div class="error-note" >
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <!--Input field without error message-->
                        {{ form.email(class="") }} 
                    {% endif %}
                </div>
            </fieldset>
            <div style="margin-left: 100px; margin-top: 10px;">
                {{ form.submit(class="") }}
            </div>
        </form>
    </div>
</body>
</html>