{% extends "layout.html" %}

{% block style %}
    <!-- CSS for "Projektai" page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='straipsnis-style.css') }}" />
    <!-- ROBOTO FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
{% endblock style %}  

{% block content %}
    
    <div class="content">
        <!--
        <div  class="title-banner">
            <img src=" {{ url_for('static', filename='images/Projektu nuotraukos/' + project.thumbnail ) }} " alt="Nuotrauka">
            <h1>{{ project.title }}</h1>
        </div>
        -->
        <div class="article">
            {{ project.article_body | safe }}
        </div>
    </div>
    
{% endblock content %}

{% block scripts %}

{% endblock scripts %}  
