{% extends "layout.html" %}

{% block style %}
    <!-- CSS for "Veikla" page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pagrindinis-style.css') }}" />
{% endblock style %}

{% block content %}
    
    <!-- Landing image -->
    <section class="top">
        <div class="landing-img">
            <img src="../static/images/Pagrindinis-img-front.png" alt="Iearn Žiežmarių gimnazija">
        </div>
    </section>

    <!-- About section -->
    <section class="pad">
        <div class="container">
            <div class="tekstas">
                <h1>Apie mus</h1>
                <p>{{ about.content }}</p>
            </div>
            <div class="about-img">
                <img src="{{ url_for('static', filename='images/Apie_mus_nuotr/' + about.image_file) }}" alt="Apie mus nuotrauka">
            </div>
        </div>
    </section>
    <!-- Anksčiausi 4 projektai -->
    <section class="projects pad">
        <div class="container-2">
            <h1>Mūsų naujausi projektai</h1>
            <div class="content">
                {% for project in projects %}
                    <div>
                        <a style="width: 100%; height: 100%;" href="{{ url_for('read_article', project_id=project.id) }}">
                            <div class="card">
                                <div>
                                    <img src=" {{ url_for('static', filename='images/Projektu nuotraukos/' + project.thumbnail ) }} " alt="Nuotrauka">
                                </div>
                                    
                                <h2>{{ project.title }}</h2>
                                    
                                <p>{{ project.description}}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %} 
            </div>
        </div>
    </section>
    <!-- Nariai -->
    <section id="Nariai" >
        <div class="container-3">
            <h1>Komandos nariai</h1>
            <div class="carousel">
                {% for member in club_members %}
                    <div>
                        <div class="Nariai-card">
                            <div>
                                <img src="{{ url_for('static', filename='images/Nariai/' + member.profile_image_file) }}" alt="Profilinė nuotrauka">
                            </div>
                            <h2>{{ member.name }}</h2>
                            <p>{{ member.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
   
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/carousel.js') }}"></script>
{% endblock script %}